<h2 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  MessageMe Chat Room
</h2>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui small feed">
          <h4 class="ui header">MessageMe Chat</h4>

          <%= render @messages %>


        </div>
      </div>
      <div class="extra content">
        <form class="ui form">
          <div class="field">
        <div class="ui fluid icon input">
          <input type="text" name="msg" placeholder="Message..">
          <i class="bordered inverted blue icon edit"></i>
        </div>
        </div>

        </form>

      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="ui content">
        <div class="ui inverted vertical menu">
          <a class="active item">
            Mostafa
          </a>
          <a class="item">
            Elliot
          </a>
          <a class="item">
            Stevie
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
